@font-face {
  font-family: "ubuntu";
  src: url("../../assets/fonts/ubuntu/Ubuntu-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ubuntu";
  src: url("../../assets/fonts/ubuntu/Ubuntu-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ubuntu";
  src: url("../../assets/fonts/ubuntu/Ubuntu-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ubuntu";
  src: url("../../assets/fonts/ubuntu/Ubuntu-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ubuntu";
  src: url("../../assets/fonts/ubuntu/Ubuntu-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ubuntu";
  src: url("../../assets/fonts/ubuntu/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ubuntu";
  src: url("../../assets/fonts/ubuntu/Ubuntu-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
