@use '@/theme.scss' as theme;
.content-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: theme.$spacing-xl;
  align-items: flex-start;

  &.row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &.column {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.product-section {
  display: flex;
  flex-direction: column;
  gap: theme.$spacing-xs;
  width: 50%;

  p {
    font-size: theme.$font-size-medium;
  }

  strong {
    font-weight: bold;
  }
}

.paper {
  @include theme.paper(undefined, theme.$box-shadow-medium, theme.$border-radius-md, theme.$spacing-md);
}

.art-section {
  display: flex;
  flex-direction: column;
  gap: theme.$spacing-xs;
  width: 50%;

  p {
    font-size: theme.$font-size-medium;
  }

  strong {
    font-weight: bold;
  }
}
