@import 'theme.scss';

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $spacing-md;
    align-items: flex-start;

    &.row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &.column {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

}

.product-section {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;

    p {
        font-size: $font-size-medium;
    }

    strong {
        font-weight: bold;
    }
}

.art-section {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;

    p {
        font-size: $font-size-medium;
    }

    strong {
        font-weight: bold;
    }
}
