@import 'theme.scss';

.container {
  display: flex;
  width: 100%;
  height: auto; 
  position: relative;
  height: auto;
  // height: 100%;
}

.sel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: auto;
}

.art-area,
.product-area {
  aspect-ratio: 1 / 1;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  width: 47%;
  @include paper(undefined, $box-shadow-medium, $border-radius-lg, $spacing-md);
  padding: 0;
  height: auto;
}
