@use "@styles/theme.scss" as theme;
.product-element {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100%;
  gap: theme.$spacing-sm;

  .image-container {
    flex: 0 1 80%;
    height: 70%;
    width: auto;
  }

  .product-name {
    height: 10%;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }

  .button-container {
    height: 10%;
    display: flex;
    justify-content: center;
  }
}
