@use "@styles/theme.scss" as theme;
$min-item-width: 600px;

.grid-wrapper {
  width: 100%; // Ensure grid takes full width
  margin: 0 auto; // Center grid wrapper
}

// Grid Container (Parent)
.grid-container {
  display: grid;
  gap: theme.$spacing-sm;
  padding: theme.$spacing-md;
  width: 100%;
  box-sizing: border-box;
}

// Grid Item (Child)
.grid-item {
  display: flex;
  color: white;
  padding: theme.$spacing-md;
  font-size: 1.2em;
  text-align: center;
  border-radius: 8px;
  max-height: 420px;
}

// Responsive adjustment for smaller screens
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
