@import 'theme.scss';

$min-item-width: 600px;

.grid-wrapper {
  width: 100%;  // Ensure grid takes full width
  margin: 0 auto;  // Center grid wrapper if needed
}

// Grid Container (Parent)
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min-item-width, 1fr));
  gap: $spacing-sm;
  padding: $spacing-md;
  width: 100%;
  box-sizing: border-box;
}

// Grid Item (Child)
.grid-item {
  display: flex;
  color: white;
  padding: $spacing-md;
  font-size: 1.2em;
  text-align: center;
  border-radius: 8px;
  max-height: 420px;
}

// Responsive adjustment for smaller screens
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
