@font-face {
    font-family: 'Futura';
    src: url('../../assets/fonts/futura/FuturaStd-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Futura';
    src: url('../../assets/fonts/futura/FuturaStd-LightOblique.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

@font-face {
  font-family: "Futura";
  src: url("../../assets/fonts/futura/FuturaStd-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura";
  src: url("../../assets/fonts/futura/FuturaStd-BookOblique.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../../assets/fonts/futura/FuturaStd-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Futura';
    src: url('../../assets/fonts/futura/FuturaLTPro-XBoldCondObl.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Futura';
    src: url('../../assets/fonts/FuturaStd-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Futura';
    src: url('../../assets/fonts/FuturaStd-ExtraBoldOblique.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Futura';
    src: url('../../assets/fonts/FuturaStd-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Futura';
    src: url('../../assets/fonts/FuturaStd-HeavyOblique.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }