.checkout-root {
  padding: 10px;
}

.form-container {
  padding-right: 10px;
  margin-left: 13px;
  padding-bottom: 10px;
}

.button-container {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}
