.cart-container {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.cart-title-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-grid-container {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: unset;
}