@import "theme.scss"; // Use your theme variables for styling

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6); // Semi-transparent background
  z-index: $z-index-modal; // Ensure it's above other elements

  p {
    color: $text-light-color;
    font-size: $font-size-large;
    margin-top: $spacing-md;
  }
}

.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top-color: $text-light-color;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
