@use "@styles/theme.scss" as theme;

.catalog {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-grow: 1;
  max-width: 100%;
  margin: 0;
  border-radius: theme.$border-radius-md;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 5%;
  @include theme.respond-below(theme.$breakpoint-md) {
    margin-top: 2rem;
  }
}

.search-bar {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: theme.$spacing-sm 0;
  padding: 0;
}

.sorting-select {
  position: relative;
  width: 200px;
  display: flex;
  justify-content: right;
}

.avatar {
  margin: theme.$spacing-md;
  background-color: theme.$secondary-color;
}

.form {
  width: 100%;
  margin-top: theme.$spacing-lg;
}

.submit {
  margin: theme.$spacing-lg 0 theme.$spacing-md;
}

.float {
  position: relative;
  margin-left: 95%;
}

.img {
  max-height: 480px;
  width: 100%;

  @include theme.respond-below(theme.$breakpoint-md) {
    max-height: 200px;
  }

  &:hover {
    cursor: pointer;
  }
}

.title {
  color: theme.$secondary-color;
  font-weight: theme.$font-weight-bold;
  padding-top: theme.$spacing-lg;
  align-self: center;
  &-wrapper {
    padding-left: 10vw;
  }
}

.slider {
  &-wrapper {
    flex-grow: 1;
    width: 100%;
    height: 45vh;
    min-height: 407px;
    max-height: 35rem;
    position: relative;
  }
  &-item {
    border-radius: theme.$border-radius-lg;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 80%;
    margin-left: 100px;

    @include theme.respond-below(theme.$breakpoint-md) {
      height: 150px;
      margin-left: 35px;
      &-slide {
        padding: 0;
      }
    }
  }
}

.product-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-background {
  background-size: cover;
  border-radius: theme.$border-radius-md;
  background-position: back;
  display: flex;
  justify-items: end;
  align-items: end;

  height: 170px;

  @include theme.respond-below(theme.$breakpoint-md) {
    height: 120px;
    width: 120px;
  }

  &:hover {
    cursor: pointer;
  }
}

.search-icon {
  padding: theme.$spacing-xs;
  background-color: theme.$primary-color;
  color: theme.$text-light-color;
  margin: theme.$spacing-xs;
}

.product-name {
  color: theme.$secondary-color;
  font-weight: theme.$font-weight-bold;
  font-size: theme.$font-size-small;
  align-self: center;

  @include theme.respond-below(theme.$breakpoint-md) {
    font-size: theme.$font-size-small;
  }
}

.details-button {
  @include theme.button(theme.$primary-color);
  border-radius: theme.$border-radius-lg;
}

.best-sellers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.05);
  padding: theme.$spacing-xl 0;
  width: 100%;
  margin: 20px auto;
  box-shadow:
    0px 6px 10px rgba(0, 0, 0, 0.2),
    0px 1px 5px rgba(0, 0, 0, 0.14),
    0px 3px 5px rgba(0, 0, 0, 0.12);

  @include theme.respond-below(theme.$breakpoint-md) {
    background-color: transparent;
    box-shadow: none;
    height: max-content;
    border-radius: theme.$border-radius-md;
    padding: 0;
    margin: 1rem 0;
  }
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-bottom: 1rem;
}

.best-seller-title {
  color: theme.$secondary-color;
  font-weight: theme.$font-weight-bold;
}
