@use '@/theme.scss' as theme;
.image-wrapper {
  position: relative;
  overflow: hidden;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &.rounded {
    border-radius: theme.$border-radius-lg;
  }

  &.cover {
    object-fit: cover;
  }

  &.contain {
    object-fit: contain;
  }

  &.fill {
    object-fit: fill;
  }
}

.fit-to-width {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.fit-to-height {
  width: auto;
  height: 100%;
}

.fit-to-square {
  width: 100%;
  height: 100%;
}

.rounded {
  border-radius: theme.$border-radius-lg;
}

.image {
  border-radius: inherit;
  height: auto;
  display: block;

  &.rounded {
    border-radius: theme.$border-radius-lg;
  }

  &.cover {
    object-fit: cover;
  }

  &.contain {
    object-fit: contain;
  }

  &.fill {
    object-fit: fill;
  }
}
