@use '@/theme.scss' as theme;
.card-root {
  display: flex;
  overflow: hidden;
  align-content: space-between;
  height: 100%;
  @include theme.paper(undefined, theme.$box-shadow-heavy, theme.$border-radius-xl, theme.$spacing-md);

  &.pointed {
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 10px 3px theme.$primary-color;
  }
}

.slider-container {
  width: 80%;
  padding: 10px;
}

.card-content {
  align-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: theme.$spacing-md;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: theme.$spacing-md;
  text-align: left;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 theme.$spacing-md;
}
