@use '@/styles/theme.scss' as theme;

.custom-slider {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .slider-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    margin-bottom: 0;

    flex-grow: 1;
    overflow: hidden;

    &.over {
      min-height: 100%;
    }

    &.below {
      height: calc(100% - 40px);
      max-height: calc(100% - 40px);
    }
  }

  .slider-slide {
    flex: 0 0 100%;
    height: 100%;
    align-items: center;
    text-align: center;

    img {
      width: 100%;
      height: 100%;
      max-height: 100%;
      // object-fit: contain;
      max-width: 100%;
    }
  }

  .slider-wrapper {
    display: flex;
    // min-height: 100%;
    transition: transform theme.$transition-normal;
    border-radius: theme.$border-radius-lg;
    height: 100%;
    align-items: center;
  }

  .indicator {
    background-color: theme.$secondary-color;
    border-radius: 50%;
  }

  // Fit to width
  &.below-indicator-type-dots-fit-to-width,
  &.below-indicator-type-thumbnails-fit-to-width,
  &.over-indicator-type-dots-fit-to-width,
  &.over-indicator-type-thumbnails-fit-to-width {
    .slider-container {
      width: 100%;
      height: auto;
    }
  }

  // Fit to height
  &.below-indicator-type-dots-fit-to-height,
  &.below-indicator-type-thumbnails-fit-to-height,
  &.over-indicator-type-dots-fit-to-height,
  &.over-indicator-type-thumbnails-fit-to-height {
    .slider-container {
      width: auto;
      height: 100%;
    }
  }

  // Fit to square (both width and height)
  &.below-indicator-type-dots-fit-to-square,
  &.below-indicator-type-thumbnails-fit-to-square,
  &.over-indicator-type-dots-fit-to-square,
  &.over-indicator-type-thumbnails-fit-to-square {
    .slider-container {
      width: 100%;
      height: 100%;
    }
  }

  // Indicator-specific styles (below)
  &.below-indicator-type-dots,
  &.below-indicator-type-thumbnails {
    .slider-container {
      padding-bottom: 40px; // Space for dots or thumbnails
    }
  }

  // Dots positioned below
  &.below-indicator-type-dots {
    .dots-below-container {
      margin-top: theme.$spacing-md;
      display: flex;
      justify-content: center;
      height: 80px;
    }

    .dots-below {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  // Thumbnails positioned below
  &.below-indicator-type-thumbnails {
    .slider-container {
      padding-bottom: 100px; // Space for thumbnails
    }

    .thumbnails-below {
      display: flex;
      justify-content: center;
      margin-top: theme.$spacing-md;
    }
  }

  // Indicators positioned over the slider
  &.over-indicator-type-dots,
  &.over-indicator-type-thumbnails {
    .slider-container {
      padding-bottom: 0;
    }

    .dots-below,
    .thumbnails-below {
      position: absolute;
      bottom: theme.$spacing-md;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
  }
}

// Arrow styles (left and right)
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
  padding: 0;
  transition: background-color 0.2s ease;
  height: 73%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2); // Hover background effect
  }

  &.slider-arrow-left {
    left: 0px;

    svg {
      transform: rotate(360deg);
    }
  }

  &.slider-arrow-right {
    right: 0px;
  }

  svg {
    width: 3em;
    height: 3em;
    stroke: rgba(255, 255, 255, 0.7);
    transition: stroke 0.2s ease;

    &:hover {
      stroke: theme.$secondary-color;
    }
  }
}

.slider-dots {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
  // position: absolute;
  bottom: theme.$spacing-md;
  left: 50%;
  // transform: translateX(-50%);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .slider-dot {
    width: theme.$spacing-lg;
    height: theme.$spacing-xs;
    margin: 0 theme.$spacing-xs;
    border-radius: 0;
    background-color: theme.$border-color;
    border: none;
    cursor: pointer;

    $colors: (
      primary: theme.$primary-color,
      secondary: theme.$secondary-color,
      tertiary: theme.$tertiary-color,
      white: white,
    );

  @each $name, $color in $colors {
    &.active-#{"#{$name}"} {
 background-color: $color;
  }

  &.inactive-#{"#{$name}"} {
 background-color: $color;
  opacity: 0.5;
}
}
}
}

// Thumbnail styles
.slider-thumbnail {
  width: 80px;
  height: 80px;
  margin: 0 theme.$spacing-xs;
  object-fit: cover;
  cursor: pointer;
  border-radius: theme.$border-radius-sm;
  border: 2px solid transparent;

  &.active {
    border-color: theme.$primary-color;
  }
}

.spacing-sm {
  gap: 10px;
}

.spacing-md {
  gap: 20px;
}

.spacing-lg {
  gap: 30px;
}

.spacing-xl {
  gap: 10vw;
}

.below-indicator {
  margin-top: theme.$spacing-md;
  display: flex;
  justify-content: center;
  min-height: 40px;
}

.over-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@media (min-width: theme.$breakpoint-md) {
  .slider-thumbnail {
    width: 100px;
    height: 100px;
  }
}