@use '../Flow.module.scss';

.prix-product-container {
  justify-content: center;
}

.steps-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: $spacing-md;
  gap: calc(3 * $spacing-xs);
}

.flow-stepper-wrapper {
  display: flex;
  justify-content: center;
  gap: $spacing-md;
  padding: 0 $spacing-md;
}

.title-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: $spacing-sm;

  .title {
    font-size: $font-size-extra-large;
    font-weight: $font-weight-bold;
    color: $text-color;
    margin: $spacing-xs;
  }

  .price {
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    color: $text-color;
  }
}

.carousel-wrapper {
  min-height: 300px;
  justify-content: center;
}

.buttons-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: $spacing-md;
  width: 100%;
}
